+++
title = "LWS"
linkTitle = "LWS"
description = "TBD"
+++


{{< blocks/cover title="Welcome to LWS" image_anchor="top" height="full" color="orange">}}
	<div class="mx-auto">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/">
			Read the docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubernetes-sigs/lws">
			Github <i class="fab fa-github ml-2 "></i>
		</a>
		<p class="lead mt-5">An API for deploying a group of pods as a unit of replication for AI/ML Inference Workloads
		</p>
		{{< blocks/link-down color="info" id="description">}}
	</div>
	{{< /blocks/cover>}}

<div id="description"></div>

{{% blocks/lead color="primary"%}}
<h1 class="text-center">LeaderWorkerSet (LWS) is an API for deploying a group of pods as a unit of replication.
</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
<h1 class="text-center">It aims to address common deployment patterns of AI/ML inference workloads, especially
	multi-host inference workloads where the LLM will be sharded and run across multiple devices on multiple
	nodes.
</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
<h1 class="text-center">Use LWS to orchestrate distributed AI/ML Inference workoads with out of the box support
	for rolling updates, topology-aware placement, and all-or-nothing restart for failure handling</h1>
{{% /blocks/lead %}}

{{< blocks/section color="light">}}

	{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"
	url="https://github.com/kubernetes-sigs/lws" %}}
	We do a [Pull Request](https://github.com/kubernetes-sigs/lws/pulls) contributions workflow on **GitHub**.
	New users are always welcome!
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fab fa-slack" title="Connect with us" url="https://kubernetes.slack.com" %}}
	Talk to contributors on [#wg-serving](https://kubernetes.slack.com/messages/wg-serving) channel
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa fa-envelope" title="Join the mailing group"
	url="https://groups.google.com/a/kubernetes.io/g/wg-serving" %}}
	Join the conversation on the [mailing group](https://groups.google.com/a/kubernetes.io/g/wg-serving)
	{{% /blocks/feature %}}


{{< /blocks/section>}}